body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.plyr__time {
  position: fixed;
  top: 40px;
  right: 45px;
  color: #fff;
  font-size: 24px;
  display: block !important;
}

.plyr__controls__item, .plyr__control {
  display: none;
}

.image__wrapper::before {
  transition: all 0.3s;
}
.content__wrapper .record__buttons .rec .text {
  display: block;
}
.content__wrapper .record__info {
  transition: all 0.3s ease-out;
  max-height: 3500px;
}
.content__wrapper .record__info.record__info--saved {
  transition: opacity 1s ease-out;
  opacity: 0; 
  max-height: 0;
  overflow: hidden;
}

.content__wrapper .next {
  transition: all 0.3s;
  max-height: 3000px;
  margin-bottom: 50px;
}

.content__wrapper .next.next-hidden {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
}

.panel {
  position: fixed;
  right: 15px;
  top: 15px;
}

.panel p {
  padding: 15px 30px;
  border-radius: 35.7px;
  background: #1f67f2;
  color: #fff;
  font-weight: 500;
}

.progress__result {
  transition: all 0.3s;
}

.content__wrapper .button--finish{
  width: 325px;
}

.content__wrapper--thanks {
  
}

.content__wrapper--thanks h1 {
  font-size: 52px;
}

.content__wrapper--thanks h2 {
  font-size: 21px;
  line-height: 25px;
}

.content__wrapper--thanks .content__wrapper__buttons {
  margin-top: 20px;
}

.topic__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topic__wrapper .topic__element {
  width: 400px;
  height: 200px;
  background: #007bff;
  border-radius: 15px;
  box-shadow: 0 0 50px 2px rgba(0,0,0,0.15);
  margin: 25px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.topic__wrapper .topic__element.topic__element--active {
  border-color: #007bff;
}

.topic__wrapper .topic__element::before {
    content: '';
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 0;
}
.topic__wrapper .topic__element span {
  width: 100%;
  z-index: 9;
  position: relative
}

.topic__wrapper .topic__element:hover {
  box-shadow: 0 0 50px 2px rgba(0,0,0,0.25);
  transform: scale(1.02);
}
